<!--
  版权所有（C）2018，西安大华时代网络科技有限公司。保留所有权利。
 -->
<!--
  页尾组件模板
  @author 刘宏强
-->
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          
          <div class="copyright-footer">
            <p class="copyright credits text-white">
			        版权所有 © 2017 - {{year}} <a class="text-white" href="http://www.ecupl.edu.cn/">华东政法大学互联网+法律大数据平台</a>
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- <div id="preloader"></div> -->
